.t-servicios {
    h2{
        text-align: center;
        background-color: $colorSecundario;
    }
}
.fotosServicios {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 30px;
    text-align: center;
    article {
        img:hover {
            transition: .4s ease-out;
            width: 180px;
            height: 180px;
    }
    }
    @media (max-width:552px) {
        flex-direction: column;
    }
}
